<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    
    <script type="text/javascript" charset="utf-8">
      	mui.init({
      		beforeback: function(){
	  			App.saveLog();
				return true;
			},
	  });
    </script>
    <script src="../js/app.js"></script>
    <style type="text/css">
    
    	.conv-date{
    		font-size: small;
    		color: grey;
    	}
    </style>
    <style type="text/css">
		.card-contact-name{
			font-size: large;
			color: black;
		}
		.mui-card, .mui-btn, .mui-btn-purple {
			margin-top: 20px;
			text-align: center;
		}
		#offCanvasSide{
			width: 200px;
			text-align: center;
		}
		.menu-user-card{
    		
    		display:-webkit-box; 
    		-webkit-box-align:center;
    		-webkit-box-orient:horizontal;
    		text-align: center;
    	}

	</style>
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
		<!-- 菜单容器 -->
		<aside id="offCanvasSide" class="mui-off-canvas-left">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="menu-user-card mui-card">
						<img class="card-photo" src="../resource/photo/photo01.png"/>
						<p class="card-contact-name">Name</p>
						<!--<button type="button" class="mui-btn mui-btn-red" id="login" style="margin-left: 10px;">登陆</button>-->
						
					</div>
	
					<div class="seperate-line"></div>
					<!--<button type="button" class="mui-btn mui-btn-purple" style="padding: 10px 20px;" id="search">查找好友</button><br />
					<button type="button" class="mui-btn mui-btn-purple" style="padding: 10px 20px;" id="checkout">注销账号</button>-->
					<div class="mui-card">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" id="search">
								查找好友	
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a class="mui-navigate-right" id="checkout">
								切换账号
								</a>
							</li>
						</ul>
					</div>
					<div class="seperate-line"></div>
				<div>
			</div>
		</aside>
		<!-- 主页面容器 -->
		<div class="mui-inner-wrap">
			<header class="mui-bar mui-bar-nav">
				<a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left" id="menu-btn"></a>
				<h1 class="mui-title">CloudIM</h1>
			</header>
			<div class="mui-content">
				<div >
					<ul class="mui-table-view" id="list">
						<li> </li>
					</ul>
					<ul class="mui-table-view" >
						<li> <p>没有更多消息了</p></li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.5.7.js"></script>
<script src="../js/Cloud.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/template.js" type="text/javascript" charset="utf-8"></script>
<script id='msg-template' type="text/template">
	<li class="mui-table-view-cell mui-media">
		<a>
			<img class="mui-media-object mui-pull-left" src="{{photo}}">
			<div class="mui-media-body">
				<span class="conv-name">{{name}}</span> <span class="conv-date mui-pull-right">{{date}}</span>
				<p class='mui-ellipsis '>
					<span class="conv-message">{{message}}</span> 
					
					<span class="mui-badge mui-badge-danger mui-pull-right" {{if unread==0}}style="display:none"{{/if}} >
						{{if unread>0}}
						{{unread}}
						{{/if}}
					</span>
					
				</p>
			</div>
		</a>
	</li>
</script>
<script src="../js/SlideMenu.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/chatList.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/IMPush.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
//App.User.update({userName:"alex", userId:"55b83d57e4b08ab372337d50", userPhoto:"photo05.png"})
//App.User.update({userName:"zwj", userId:"55c0663200b0efdc4ca90b35", userPhoto:"photo05.png"})

var user;
var current_webview_id;
var database = {};
var targetList = {};
var ImChatView, RegView;
var IMPushinfo;
var conv_list = App.ID("list");


mui.plusReady(function(){

	current_webview_id = plus.runtime.appid;
	
	SlideMenu.init(mui('#offCanvasWrapper'));
	
	
	initUser();


})

function initUser(){
	IMPushinfo = IMPush.init({receiveHanlder:ChatListUI.pushMsgHandler});	
	var AVUser = AV.User.current();
	if(AVUser){
		user = App.User.get();
		initUI();
	}
	else{
		showRegView(AVUser);
	}
}
function initUI(){
	
	ChatListUI.init(conv_list);
	ChatListUI.refresh(user.userId);
	SlideMenu.setUser(user);
}

window.addEventListener("login_done", function(event) {
	mui.fire(RegView, "register:userUpdate", {pushId: IMPushinfo.clientid})
});
window.addEventListener("register:userUpdateDone", function(event) {
	user = event.detail;
	console.log(JSON.stringify(user))
		initUI();
});



function showRegView(){
	RegView = App.openWin("register.html", {previous_webview_id: current_webview_id});
	console.log(typeof RegView)
}


App.delayQuit();
	
//	App.BindTapEvent("test", function(){
//		
//		setTimeout(function(){
//			ChatListUI.pushMsgHandler({
//				peerUser:{
//					userName: "zwj",
//					userId: "55d01cac00b09887f5acdb82",
//					userPhoto: "robot.png",
//				},
//				msgPayload:{
//					conv_id: "55d4413c60b2f3a930af7ba7",
//					from_id: "55d01cac00b09887f5acdb82",
//					to_id: "55b83d57e4b08ab372337d50",
//					timestamp: 1439553967234,
//					data: "test push fire",
//				}
//			})
//			
//			
//		},10000)
//		
//			
//	
//		})
		
	

	
</script>