<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
    <script src="../js/app.js"></script>
    <style type="text/css">
    
    	.conv-date{
    		font-size: small;
    		color: grey;
    	}
    </style>
    <style type="text/css">
		.card-contact-name{
			font-size: large;
			color: black;
		}
		.mui-card, .mui-btn, .mui-btn-purple {
			margin-top: 20px;
			text-align: center;
		}
		#offCanvasSide{
			width: 200px;
			text-align: center;
		}
		.menu-user-card{
    		
    		display:-webkit-box; 
    		-webkit-box-align:center;
    		-webkit-box-orient:horizontal;
    		text-align: center;
    	}

	</style>
</head>
<body>
	<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
		<!-- 菜单容器 -->
		<aside id="offCanvasSide" class="mui-off-canvas-left">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="menu-user-card mui-card">
						<img class="card-icon" src="../resource/photo/photo02.png"/>
						<p class="card-contact-name">张无忌</p>
						<!--<button type="button" class="mui-btn mui-btn-red" id="login" style="margin-left: 10px;">登陆</button>-->
						
					</div>
	
					<div class="seperate-line"></div>
					<button type="button" class="mui-btn mui-btn-purple" style="padding: 10px 20px;" id="search">查找好友</button><br />
					<button type="button" class="mui-btn mui-btn-purple" style="padding: 10px 20px;" id="checkout">注销账号</button>
					<div class="seperate-line"></div>
				<div>
			</div>
		</aside>
		<!-- 主页面容器 -->
		<div class="mui-inner-wrap">
			<header class="mui-bar mui-bar-nav">
				<a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left" id="menu-btn"></a>
				<h1 class="mui-title">CloudIM</h1>
			</header>
			<div class="mui-content">
				<div >
					<ul class="mui-table-view" id="list">
						<li> placeHolder</li>
					</ul>
	
					
					<button type="button" class="mui-btn mui-btn-blue" id="test">按钮</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.5.7.js"></script>
<script src="../js/Cloud.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/template.js" type="text/javascript" charset="utf-8"></script>
<script id='msg-template' type="text/template">
	<li class="mui-table-view-cell mui-media">
		<a>
			<img class="mui-media-object mui-pull-left" src="{{photo}}">
			<div class="mui-media-body">
				<span class="conv-name">{{name}}</span> <span class="conv-date mui-pull-right">{{date}}</span>
				<p class='mui-ellipsis '>
					<span class="conv-message">{{message}}</span> 
					{{if unread>0}}
					<span class="mui-badge mui-badge-danger mui-pull-right">{{unread}}</span>
					{{/if}}
				</p>
			</div>
		</a>
	</li>
</script>
<script src="../js/SlideMenu.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/chatList.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/IMPush.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
App.User.update({userName:"alex", userId:"55b83d57e4b08ab372337d50"})
var user = App.User.get();
var current_webview_id;
var database = {};
var targetList = {};
var ImChatView;
var conv_list = App.ID("list");
	mui.plusReady(function(){
		SlideMenu.init(mui('#offCanvasWrapper'));
		var li = ChatListUI.render({
			conv_id: "test convid",
			peerUser:{
				userName: "张无忌",
//				userPhoto: "photo02.png",
				
			},

		});
		conv_list.insertBefore(li, conv_list.firstElementChild);
	})
</script>