body,p,td,table,tr,.bodytext,.stepfield,.wiki-content p,.panelContent{color:#333;background:none;}
.page-metadata{color:#999;display:block;}
#version-comment{margin:1em 0;}
#content>.wiki-content{margin:1em 0;}
#toolbar #format-dropdown .dropdown-item a,h1,h2,h3,h4,h5,h6,.wiki-content h1,.wiki-content h2,.wiki-content h3,.wiki-content h4,.wiki-content h5,.wiki-content h6,.pagetitle,#title-text,#title-text a,.steptitle,.substeptitle,.formtitle,a.blogHeading,.more-comments a,.label,label,th.confluenceTh,table.confluenceTable th.confluenceTh,table.admin th,.form-element-large,.form-element-small,#com-atlassian-confluence .mce_h1 span.mceText,#com-atlassian-confluence .mce_h2 span.mceText,#com-atlassian-confluence .mce_h3 span.mceText,#com-atlassian-confluence .mce_h4 span.mceText,#com-atlassian-confluence .mce_h5 span.mceText,#com-atlassian-confluence .mce_h6 span.mceText{color:#000;}
.wiki-content h1{margin-top:2em;margin-bottom:.5em;font-size:1.8em;}
.wiki-content h2{margin-top:2em;margin-bottom:.5em;font-size:1.6em;}
.wiki-content h3{margin-top:1.5em;margin-bottom:.5em;font-size:1.4em;}
.wiki-content h4{margin-top:1.2em;margin-bottom:.3em;font-size:1.2em;}
.wiki-content h5{margin-top:1em;margin-bottom:.1em;font-size:1.1em;}
.wiki-content h6{margin-top:1em;margin-bottom:.1em;font-size:1.0em;}
#toolbar #format-dropdown .format-h1 a,.wiki-content h1{font-size:1.8em;}
#toolbar #format-dropdown .format-h2 a,.wiki-content h2{font-size:1.6em;}
#toolbar #format-dropdown .format-h3 a,.wiki-content h3{font-size:1.4em;}
#toolbar #format-dropdown .format-h4 a,.wiki-content h4{font-size:1.2em;}
#toolbar #format-dropdown .format-h5 a,.wiki-content h5{font-size:1.1em;}
#toolbar #format-dropdown .format-h6 a,.wiki-content h6{font-size:1.0em;}
.panel h2{margin-top:10px;margin-bottom:1em;font-size:1.5em;}
.panel h3{margin-top:10px;margin-bottom:.5em;font-size:1.2em;color:#333;}
.panelMacro h2{margin-top:0;margin-bottom:1em;font-size:1.5em;}
.panelMacro h3{margin-top:0;margin-bottom:.5em;font-size:1.2em;color:#333;}
.wiki-content h1,.wiki-content h2,.panel h2,.panelMacro h2{padding-bottom:2px;border-bottom:1px solid #919699;}
a:link,a:visited,a:active{text-decoration:none;}
a:hover{text-decoration:underline;}
.page-metadata a:link,.page-metadata a:active,.page-metadata a:hover,.page-metadata a:visited{color:#666;}
.section-header a:link,.section-header a:active,.section-header a:hover,.section-header a:visited{color:default;}
#content .code{border-style:dashed;background-color:#FFF;}
.preformatted{background-color:#FFF;}
.panel,#content .panel{background-color:#F0F0F0;border:1px solid #BBB;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.panel .panelHeader{border-bottom-color:#F0F0F0;color:#333;text-align:left;line-height:1em;padding:10px 10px 5px;margin-bottom:0;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;-webkit-border-top-left-radius:5px;border-top-right-radius:5px;border-top-left-radius:5px;}
.panel .panelContent{padding:0 10px;margin-bottom:10px;margin-top:10px;}
.panelMacro,.panel{margin-left:0;margin-right:0;}
.panelMacro table{padding:10px;}
.panelMacro td,.panelMacro p{padding:0;}
#content .infoMacro,#content .tipMacro,#content .warningMacro,#content .noteMacro{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border-style:solid;border-width:1px;}
.infoMacro{background-color:#E0EFFF;border-color:#9EB6D4;}
.tipMacro{background-color:#DDFADE;border-color:#9EC49F;}
.warningMacro{background-color:#FFE7E7;border-color:#DF9898;}
.noteMacro{background-color:#FFD;border-color:#F7DF92;}
#default-labels-header{float:left;padding-right:5px;}
#labels-section{border-top:1px dashed #CCC;margin:40px -20px 10px;padding:20px;}
#labels-section-title{display:none;}
.confluence-label{background-color:#f0f0f0;border-bottom:1px solid #ccc;text-decoration:none;padding:2px 5px;}
.confluence-label,.confluence-label:link,.confluence-label:visited{color:#666;}
.confluence-label:hover{color:#000;border-color:#ccc;border-bottom-color:#999;}
.tag-cloud,.tag-cloud .confluence-label{background:transparent;border-bottom-color:transparent;}
.tag-cloud .confluence-label:hover{background-color:#f0f0f0;border-bottom-color:#999;color:#000;}
#splitter-sidebar .confluence-label,.admin-sidebar .confluence-label,.personal-sidebar .confluence-label,.blog-sidebar .confluence-label{background-color:#e0e0e0;color:#666;}
#splitter-sidebar .confluence-label:hover,.admin-sidebar .confluence-label:hover,.personal-sidebar .confluence-label:hover,.blog-sidebar .confluence-label:hover{background-color:#d9d9d9;border-color:#aaa;border-bottom-color:#888;color:#000;}
@media screen,projection{html,body{margin:0;padding:0;}
html.splitter-invoked,body.splitter-invoked{overflow:hidden;}
#header{border-bottom-width:3px;border-bottom-style:solid;}
#main{border:0;padding:20px;min-height:40em;_height:40em;}
hr{border:1px solid #CCC;height:0;}
#theme-header,#theme-footer{text-align:center;}
#theme-header .sectionMacro td,#theme-footer .sectionMacro td{text-align:center;}
#splitter-sidebar ul{padding:0;margin:0;list-style:none;}
#splitter-sidebar li{padding:5px 0;border-bottom:1px solid #CCC;}
#splitter-sidebar h1,#splitter-sidebar h2,#splitter-sidebar h3{padding:0;margin:0;margin-top:10px;border-bottom:2px solid #CCC;white-space:nowrap;width:auto;line-height:1.5em;}
#splitter-sidebar li a,#splitter-sidebar p,#splitter-sidebar h1,#splitter-sidebar h2,#splitter-sidebar h3{padding-left:10px;}
#splitter-sidebar h1{font-size:1.2em;}
#splitter-sidebar h2{font-size:1.1em;}
#splitter-sidebar h3{font-size:1em;}
#splitter-sidebar a{font-size:.9em;color:#333;text-decoration:none;}
#splitter-sidebar a:hover{color:#000;text-decoration:underline;}
#splitter{min-width:600px;min-height:300px;}
#splitter-sidebar{background-image:url(sidebar-shadow.png);background-repeat:repeat-y;background-position:right top;background-color:#F0F0F0;}
#splitter #splitter-content{background-color:#FFF;}
#splitter #splitter-content,#splitter #splitter-sidebar{overflow:auto;}
.vsplitbar{width:5px;background:#CCC;background-image:url(vgrabber.gif);background-repeat:no-repeat;background-position:center;}
.blog-sidebar{margin-bottom:2em;}
#splitter-button{background:url(tree.png) no-repeat 4px 50%;width:30px;height:2em;cursor:pointer;margin-left:5px;}
#splitter-button.collapsed{background:url(tree-off.png) no-repeat 4px 50%;}
#splitter-sidebar .plugin_pagetree{margin-left:-10px;}
#splitter-sidebar .plugin_pagetree #pagetreesearch{margin:10px 0 10px 20px;min-width:230px;}
#splitter-sidebar .plugin_pagetree img{width:9px;height:9px;}
#splitter-sidebar .plugin_pagetree span img{display:none;}
#splitter-sidebar .plugin_pagetree ul{padding-left:10px!important;margin-left:0!important;}
#splitter-sidebar .plugin_pagetree li{text-decoration:none;margin:0;padding:2px 0;border-bottom:none;}
#splitter-sidebar .plugin_pagetree li a,#splitter-sidebar .plugin_pagetree ul{color:#4C4C4C;font-size:9pt;text-decoration:none;padding-left:0;}
#splitter-sidebar .plugin_pagetree li a:hover{text-decoration:underline;}
#splitter .padding-div .plugin_pagetree{padding-top:10px;}
#pagetreesearch input{background-color:#FFF;border:1px solid #CCC;color:#666;}
.tab-navigation .tab a{font-weight:normal;color:#999;background-color:transparent;border:none;}
.tab-navigation .tab a:hover{font-weight:normal;color:#000;background-color:transparent;border:none;}
#tab-navigation{border-bottom-color:#CCC;margin:1em 0 2em -10px;background-color:transparent;}
ul.tab-navigation .current a:hover,ul.tab-navigation .current a{background-color:transparent;border:none;color:#000;}
#splitter-sidebar .panel{border:0;background:none;}
#splitter-sidebar .panel .panelContent{padding:0 10px;background:none;margin-top:0;}
#theme-header .panelMacro{margin-bottom:0;}
#theme-header .panelMacro td,#theme-header .panelMacro p{padding:5px 0;}
#theme-header .infoMacro,#theme-header .tipMacro,#theme-header .warningMacro,#theme-header .noteMacro,#theme-header .panel{border-bottom-width:1px;border-bottom-style:solid;}
#theme-footer .infoMacro,#theme-footer .tipMacro,#theme-footer .warningMacro,#theme-footer .noteMacro,#theme-footer .panel{border-top-width:1px;border-top-style:solid;}
#theme-footer .panelMacro{margin:0;}
#theme-footer p{margin-top:0;}
#footer #poweredby{background-image:none;border-top:1px solid #CCC;}
#personal-info-sidebar{margin-right:-20px;}
.sectionMacro td.confluenceTd{padding-right:20px;}
.panel .confluenceTable{margin:0;}
.panel table.confluenceTable th.confluenceTh,.panel table.confluenceTable td.confluenceTd{border:0;}
div.rssMacro{margin-bottom:20px;border:1px solid #CCC;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
div.rssMacro table{margin:0;}
div.rssMacro table th a{color:#000;}
div.rssMacro table th,.rssMacro table td{border:0;}
div.rssMacro b{font-weight:normal;}
}
@media print{html,body,#main,#splitter,#full-height-container{overflow:visible!important;height:100%!important;*height:auto!important;}
html.splitter-invoked,body.splitter-invoked{overflow:visible!important;height:auto!important;}
#theme-header,#theme-footer,#splitter-sidebar,.vsplitbar,#labels-section,#children-section,#footer{display:none;}
#splitter #splitter-content{left:0!important;overflow:visible!important;width:800px!important;height:100%!important;*height:auto!important;}
.panel,panelMacro{page-break-inside:avoid;}
body,p,td,table,tr,.bodytext,.stepfield,.wiki-content p,.panelContent,.wiki-content a{color:#000;background:#fff;}
}